<ion-tabs class="tabs-icon-top tabs-elements">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse"
    ui-sref="main.dashboard">
    <ion-nav-view name="tab-dashboard"></ion-nav-view>
  </ion-tab>

  <!-- Goals Tab -->
  <ion-tab title="Goals" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.goals">
    <ion-nav-view name="tab-goals"></ion-nav-view>
  </ion-tab>

  <!-- Activities Tab -->
  <ion-tab title="Activities" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.activities">
    <ion-nav-view name="tab-activities"></ion-nav-view>
  </ion-tab>

  <!-- Activities Tab -->
  <ion-tab title="Tasks" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Activities Tab -->
  <ion-tab title="Notifications" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong"
    ui-sref="main.notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <!-- Debug Tab -->
  <!-- <ion-tab title="Debug" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear"
    ui-sref="main.debug">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab> -->

</ion-tabs>
